/* establish font for website */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* main section of body */
main {
  padding-top: 4.5rem;
  padding-bottom: 7rem;
  background-image: url("./images/ignasi_pattern_s.png");
}
/* bio paragraph */
p {
  font-size: 1rem;
}
/* title of each page */
h1 {
  color: rgb(81, 160, 155);
  font-size: 2em;
  font-weight: 800;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
/* bio image styling */
#headshot {
  float: left;
  padding: 1px;
  margin: 0px 10px 2px 0px;
  width: 250px;
  height: auto;
  max-width: 65%;
}
/* blank image place holder */
.blank {
  width: 500px;
  max-width: 100%;
}

/* icon inside text box */
.inside-icon {
  background-image: url(./images/icon.png);
  background-position: 97%;
  background-size: 1rem;
  background-repeat: no-repeat;
}
/* button styling */
button {
  padding: 1rem 2rem;
  background-color: rgb(81, 160, 155);
  border: rgb(81, 160, 155);
  color: white;
}
